/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.modal
{
 width: 50% !important ; 
 max-height: 90% !important;
 overflow-y: hidden !important ;


/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+53,1e5799+84,1e5799+84,1e5799+94,1e5799+94,1e5799+100&0.93+0,0.8+0,0.8+0,0.8+2,0.8+2,0.8+2,1+3,1+91,0.8+98,0+100 */
background: -moz-linear-gradient(-45deg,  rgba(30,87,153,0.93) 0%, rgba(30,89,155,0.8) 2%, rgba(30,90,156,1) 3%, rgba(41,137,216,1) 53%, rgba(30,87,153,1) 84%, rgba(30,87,153,1) 91%, rgba(30,87,153,0.91) 94%, rgba(30,87,153,0.8) 98%, rgba(30,87,153,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(30,87,153,0.93) 0%,rgba(30,89,155,0.8) 2%,rgba(30,90,156,1) 3%,rgba(41,137,216,1) 53%,rgba(30,87,153,1) 84%,rgba(30,87,153,1) 91%,rgba(30,87,153,0.91) 94%,rgba(30,87,153,0.8) 98%,rgba(30,87,153,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(30,87,153,0.93) 0%,rgba(30,89,155,0.8) 2%,rgba(30,90,156,1) 3%,rgba(41,137,216,1) 53%,rgba(30,87,153,1) 84%,rgba(30,87,153,1) 91%,rgba(30,87,153,0.91) 94%,rgba(30,87,153,0.8) 98%,rgba(30,87,153,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed1e5799', endColorstr='#001e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



}

.nav
{

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+53,1e5799+84,1e5799+84,1e5799+94,1e5799+94,1e5799+100&0.93+0,0.8+0,0.8+0,0.8+2,0.8+2,0.8+2,1+3,1+91,0.8+98,0+100 */
background: -moz-linear-gradient(-45deg,  rgba(30,87,153,0.93) 0%, rgba(30,89,155,0.8) 2%, rgba(30,90,156,1) 3%, rgba(41,137,216,1) 53%, rgba(30,87,153,1) 84%, rgba(30,87,153,1) 91%, rgba(30,87,153,0.91) 94%, rgba(30,87,153,0.8) 98%, rgba(30,87,153,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(30,87,153,0.93) 0%,rgba(30,89,155,0.8) 2%,rgba(30,90,156,1) 3%,rgba(41,137,216,1) 53%,rgba(30,87,153,1) 84%,rgba(30,87,153,1) 91%,rgba(30,87,153,0.91) 94%,rgba(30,87,153,0.8) 98%,rgba(30,87,153,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(30,87,153,0.93) 0%,rgba(30,89,155,0.8) 2%,rgba(30,90,156,1) 3%,rgba(41,137,216,1) 53%,rgba(30,87,153,1) 84%,rgba(30,87,153,1) 91%,rgba(30,87,153,0.91) 94%,rgba(30,87,153,0.8) 98%,rgba(30,87,153,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed1e5799', endColorstr='#001e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}

h1,h2,h3,h4,h5,p
{
	color:white;
	text-shadow: 1px 2px black;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

  }

  main {
    flex: 1 0 auto;
  }

.contain
{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+53,1e5799+84,1e5799+84,1e5799+94,1e5799+94,1e5799+100&0.93+0,0.8+0,0.8+0,0.8+2,0.8+2,0.8+2,1+3,1+91,0.8+98,0+100 */
background: -moz-linear-gradient(-45deg,  rgba(30,87,153,0.93) 0%, rgba(30,89,155,0.8) 2%, rgba(30,90,156,1) 3%, rgba(41,137,216,1) 53%, rgba(30,87,153,1) 84%, rgba(30,87,153,1) 91%, rgba(30,87,153,0.91) 94%, rgba(30,87,153,0.8) 98%, rgba(30,87,153,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(30,87,153,0.93) 0%,rgba(30,89,155,0.8) 2%,rgba(30,90,156,1) 3%,rgba(41,137,216,1) 53%,rgba(30,87,153,1) 84%,rgba(30,87,153,1) 91%,rgba(30,87,153,0.91) 94%,rgba(30,87,153,0.8) 98%,rgba(30,87,153,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(30,87,153,0.93) 0%,rgba(30,89,155,0.8) 2%,rgba(30,90,156,1) 3%,rgba(41,137,216,1) 53%,rgba(30,87,153,1) 84%,rgba(30,87,153,1) 91%,rgba(30,87,153,0.91) 94%,rgba(30,87,153,0.8) 98%,rgba(30,87,153,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed1e5799', endColorstr='#001e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}

#chartdiv {
  width: 100%;
  height: 500px;
} 


ul { padding-left: 20px; }
.btn { font-size: .8em; }
/* not sure why this is needed... */
.material-icons { vertical-align: bottom; }

#modal1
{
 width: 30% !important ; 
 max-height: 60% !important;
 overflow-y: hidden !important ;
}

#modal2
{
 width: 40% !important ; 
 max-height: 90% !important;
 overflow-y: hidden !important ;
}

#bv
{
  color:cyan darken-2;
}

#promo{
  background: #ccc;
  visibility: visible;
}

#block
{
  width: 30%;
  height: 200px;
}

.footer-copyright
{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+53,1e5799+84,1e5799+84,1e5799+94,1e5799+94,1e5799+100&0.93+0,0.8+0,0.8+0,0.8+2,0.8+2,0.8+2,1+3,1+91,0.8+98,0+100 */
background: -moz-linear-gradient(-45deg,  rgba(30,87,153,0.93) 0%, rgba(30,89,155,0.8) 2%, rgba(30,90,156,1) 3%, rgba(41,137,216,1) 53%, rgba(30,87,153,1) 84%, rgba(30,87,153,1) 91%, rgba(30,87,153,0.91) 94%, rgba(30,87,153,0.8) 98%, rgba(30,87,153,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(30,87,153,0.93) 0%,rgba(30,89,155,0.8) 2%,rgba(30,90,156,1) 3%,rgba(41,137,216,1) 53%,rgba(30,87,153,1) 84%,rgba(30,87,153,1) 91%,rgba(30,87,153,0.91) 94%,rgba(30,87,153,0.8) 98%,rgba(30,87,153,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(30,87,153,0.93) 0%,rgba(30,89,155,0.8) 2%,rgba(30,90,156,1) 3%,rgba(41,137,216,1) 53%,rgba(30,87,153,1) 84%,rgba(30,87,153,1) 91%,rgba(30,87,153,0.91) 94%,rgba(30,87,153,0.8) 98%,rgba(30,87,153,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed1e5799', endColorstr='#001e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



}

#degrade
{
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+53,1e5799+84,1e5799+84,1e5799+94,1e5799+94,1e5799+100&0.93+0,0.8+0,0.8+0,0.8+2,0.8+2,0.8+2,1+3,1+91,0.8+98,0+100 */
background: -moz-linear-gradient(-45deg,  rgba(30,87,153,0.93) 0%, rgba(30,89,155,0.8) 2%, rgba(30,90,156,1) 3%, rgba(41,137,216,1) 53%, rgba(30,87,153,1) 84%, rgba(30,87,153,1) 91%, rgba(30,87,153,0.91) 94%, rgba(30,87,153,0.8) 98%, rgba(30,87,153,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(30,87,153,0.93) 0%,rgba(30,89,155,0.8) 2%,rgba(30,90,156,1) 3%,rgba(41,137,216,1) 53%,rgba(30,87,153,1) 84%,rgba(30,87,153,1) 91%,rgba(30,87,153,0.91) 94%,rgba(30,87,153,0.8) 98%,rgba(30,87,153,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(30,87,153,0.93) 0%,rgba(30,89,155,0.8) 2%,rgba(30,90,156,1) 3%,rgba(41,137,216,1) 53%,rgba(30,87,153,1) 84%,rgba(30,87,153,1) 91%,rgba(30,87,153,0.91) 94%,rgba(30,87,153,0.8) 98%,rgba(30,87,153,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed1e5799', endColorstr='#001e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



}
